body{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
}
header{
    background-image: url("../img/pattern.png");
    background-color:#4EA0FF;
    background-size: contain;
    background-size: 30%;
}

#logo{
    width: 150px;
    padding-top: 5%;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.booleaners{
    color: grey;
    margin-top: -15px;
    
}

.autore{
    color: #4DBCEB;
}

.pic-description{
    color: rgba(0, 0, 0, 0.843);
}
.text1{
    background-color: yellow;
}

table{
    text-align: left;
}

th{
    width: 5px;
    
}
thead{
    background-color: #21A9E5;

}
.color{
    background-color: #B1E5F2;
}

#chiusura-titolo{
    color: grey;
}
/* .overlay-text {
    float: left;
    margin: 0;
    padding: -70px;
    width: 100%;
    color: red;
    position: absolute;
    left: 10%;
    bottom: 9px;
    font-size: 60px;
   
} */
.footer-text{
    color:white;
    font-size: 25px;
    position: absolute;
    float: left;
    bottom: 85%;
    left: 5%;  
}
.footer-text2{
    color:white;
    font-size: 25px;
    position: absolute;
    float: left;
    bottom: 85%;
    left: 5%;  
}
.footer-image{
    position: absolute;
}
h4{
    color: grey;
}